セキュリティのアレ 放送回一覧
===============================

.. 必ず、podcast_list.rst.template を編集すること
.. そして、generate_podcast_list.py を実行すること

* ID は "S(シーズン番号)#(放送回)" で番号を割り振っています
* シーズンについては、次のような番号を勝手につけました

  * シーズン1: 2011年02月～ 「セキュリティのポッドキャスト（仮）」
  * シーズン2: 2015年11月～ YouTube版「セキュリティのアレ」
  * シーズン3: 2017年04月～ 現在のポッドキャスト「セキュリティのアレ」

* アレの歴史については :doc:`history` にて紹介しています

.. list-table:: 放送回一覧
   :widths: 8 70 16
   :header-rows: 1

